In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-14 23:14:47,-23.1203,-134.9692,78.15,69,8,5.50
1,1,Myitkyina,MM,2021-04-14 23:16:38,25.3833,97.4000,67.10,50,5,1.79
2,2,Shar,KZ,2021-04-14 23:16:38,49.5886,81.0453,38.21,74,40,3.13
3,3,Mar Del Plata,AR,2021-04-14 23:13:31,-38.0023,-57.5575,68.00,72,0,4.61
4,4,Thompson,CA,2021-04-14 23:16:30,55.7435,-97.8558,39.20,20,40,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-14 23:14:47,-23.1203,-134.9692,78.15,69,8,5.50
5,5,Vaini,TO,2021-04-14 23:16:39,-21.2000,-175.2000,80.60,74,40,8.05
12,12,Cabo San Lucas,MX,2021-04-14 23:15:48,22.8909,-109.9124,86.00,19,1,9.22
16,16,Brus Laguna,HN,2021-04-14 23:16:41,15.7500,-84.4833,80.55,74,100,6.11
21,21,Atuona,PF,2021-04-14 23:16:42,-9.8000,-139.0333,80.98,74,66,19.44
28,28,Santa Maria,BR,2021-04-14 23:16:45,-29.6842,-53.8069,75.20,73,75,4.61
29,29,Souillac,MU,2021-04-14 23:16:45,-20.5167,57.5167,78.80,83,40,11.50
30,30,Hilo,US,2021-04-14 23:16:45,19.7297,-155.0900,80.60,54,1,12.66
33,33,Sakete,BJ,2021-04-14 23:16:46,6.7362,2.6587,84.20,79,20,11.50
36,36,Saint-Philippe,RE,2021-04-14 23:16:47,-21.3585,55.7679,77.00,78,90,6.91

In [13]:
preferred_cities_df.count()

City_ID       164
City          164
Country       161
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     78.15 -23.1203 -134.9692
5            Vaini      TO     80.60 -21.2000 -175.2000
12  Cabo San Lucas      MX     86.00  22.8909 -109.9124
16     Brus Laguna      HN     80.55  15.7500  -84.4833
21          Atuona      PF     80.98  -9.8000 -139.0333
28     Santa Maria      BR     75.20 -29.6842  -53.8069
29        Souillac      MU     78.80 -20.5167   57.5167
30            Hilo      US     80.60  19.7297 -155.0900
33          Sakete      BJ     84.20   6.7362    2.6587
36  Saint-Philippe      RE     77.00 -21.3585   55.7679

In [15]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.15,-23.1203,-134.9692,Pension Maro'i
5,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
12,Cabo San Lucas,MX,86.00,22.8909,-109.9124,Hotel Tesoro Los Cabos
16,Brus Laguna,HN,80.55,15.7500,-84.4833,
21,Atuona,PF,80.98,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
537,Piacabucu,BR,78.46,-10.4056,-36.4344,Piaçabuçu News
542,Pitimbu,BR,78.80,-7.4706,-34.8086,Reserva do Abiaí
544,Ixtapa,MX,78.80,20.7000,-105.2000,Hotel Plaza Providencia
548,Zaraza,VE,85.37,9.3503,-65.3245,Hotel Zaraza
551,Alugan,PH,80.10,12.2188,125.4808,JM Lodge

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]